{% extends 'base.html' %}


{% block title %}
    {{ news_item.title }} :: {{ block.super}}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html'%}   
{% endblock %}

{% block content %}
    
    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
        </div>
        <div class="card-body">     
            {% if news_item.photo %}
            <h5 class="card-title">{{ news_item.title }}</h5>  
            <img src="{{ news_item.photo.url }}" alt="" width="150" height="120" class="float-left mr-3">
            <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>  
            {% else %}    
            <h5 class="card-title">{{ news_item.title }}</h5>  
            <p class="card-text">{{ news_item.content|safe|linebreaks }}</p>           
             {% endif %}          
        </div>
        <div class="card-footer text-muted">
            {{ news_item.created_at|date:"Y-m-d H-i-s"}}
        </div>
    </div>
</div>

{% endblock %}